.about-me {
    margin-top: 25px;
}

.about-top {
    display: flex;
}

.portfolio-image {
    width: 260px;
    height: 300px;
    border: 1px solid black;
    object-fit: cover;
    margin-left: 40px;
}

.portfolio-links{
    a {
        text-decoration: none !important;
    }
    color: black;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
