.about-me {
    margin-top: 25px;
}

.about-top {
    display: flex;
    justify-content: space-between;
    width: 58%;
    margin-left: 60px;
}

.portfolio-image {
    width: 260px;
    height: 300px;
    border: 1.5px outset;
    object-fit: cover;
}

.about-link-item{
    display: flex;
    margin: 16px;
    align-items: center;
}

.about-email, .about-email:active, .about-email:focus, .copied-email {
    margin-left: 7px;
    border: none;
    cursor: text;
    outline: none;
    background-color:  #f9f9f9;
}

.about-email{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.001em;
    color: rgba($color: #597e4d, $alpha: 1.0);
    transition: 4s !important;
}

.copied-email {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.001em;
    color: rgba($color: #ca4219, $alpha: 1.0);
    transition: 1.6s !important;
}
.copy-button{
    border: none;
    background-color: #f9f9f9;
    margin-left: -5px;
}

.about-icon {
    color: rgba($color: #531c46, $alpha: 1.0) !important;
    cursor: pointer;
    height: 42px !important;
    width: 42px !important;
    transition: 2.5s !important;
}

.about-icon:hover {
    color: rgba($color: #75b661, $alpha: 1.0) !important;

    .about-link-item > span {
        display: block;
    }
}

.about-paragraph {
    margin: 25px 40px;
    padding-left: 7px;
    padding-right: 20px;
    letter-spacing: 0.001em;
}
