.about-me {
    margin-top: 25px;
}

.about-top {
    display: flex;
    justify-content: space-between;
    width: 58%;
    margin-left: 60px;
}

.portfolio-image {
    width: 260px;
    height: 300px;
    border: 1px solid black;
    object-fit: cover;
}

.about-link-item{
    display: flex;
    margin: 16px;
    align-items: center;

    span {
        display: none;
    }
}

.portfoliolinks {
    margin-left: -7%;
}

.about-icon {
    color: black !important;
    cursor: pointer;
    height: 42px !important;
    width: 42px !important;
}

.about-icon:hover {
    color: rgba($color: #75b661, $alpha: 1.0) !important;

    .about-link-item > span {
        display: block;
    }
}

.about-paragraph {
    margin: 25px 40px;
}
