// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-field-container {
    width: 80%;
    margin-top: 10px;
    align-items: center;
    outline: none;
    overflow: hidden;
}

.body-field-container .body-field {
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
    width: 760px;
    font-size: 14px;
    background-color: #f9f9f9;
    border-bottom: 1px solid rgb(177, 173, 173);
}

.hide-comment-buttons {
    display: none;
}

.comment-form-buttons {
    width:760px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.body-field-container .body-field:focus {
    border-bottom: 2.25px solid black;
}

.cancel-button {
    background-color: #f9f9f9;
    color: rgb(107, 107, 107);
    outline: none;
    border: none;
    margin-right: 16px;
    font-size: 14px;
    cursor: pointer;
}

.inactive-comment-button {
    color: whitesmoke;
    background-color: rgb(157, 150, 150);
    height: 40px;
    width: 120px;
    font-size: 14px;
    border: none;
    margin-right: 2px;
}

.active-comment-button {
    color: whitesmoke;
    background-color: rgb(74, 105, 204);
    height: 40px;
    width: 120px;
    font-size: 16px;
    border: none;
    margin-right: 2px;
    cursor: pointer;
}

.reply-index {
    padding-left: 40px;
}

.hide-replies {
    display: none;
}

.all-comment-items {
    display: flex;

    .drop-header-icon {
        margin-right: 25px !important;
    }
}

.comment-index-item, .reply-index-item{
    margin-top: 19px !important;
}

.comment-body {
    margin-bottom: 15px;
}

.comment-interaction {
    display: flex;
    margin-top: -1px;
    margin-left: 72px;

    .comment-reply {
        border: none;
        outline: none;
        background-color: #f9f9f9;
        cursor: pointer;
        color: rgb(97, 97, 97);
        padding-bottom: -100px !important;
    }
}

.close-reply {
    display: none;
}


.comment-control-button { 
    display: none !important;
}

.comment-index-item:hover, .reply-index-item:hover {
    
    .comment-control-button{
        cursor: pointer;
        color: rgb(97, 97, 97);
        display: flex !important;
        position: relative;
        justify-content: flex-end;
        width: 100%;
        // width: 800px;
        // margin-left: 155px;
    }
}

.active-menu-button{
    cursor: pointer;
    color: rgb(97, 97, 97);
    display: flex !important;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    margin-left: 155px;
}

.no-menu { display: none !important;}

.action-menu {
    display: block;
    position: absolute;
    list-style: none;
    background-color: rgb(243, 243, 243);
    z-index: 10;
    width: 220px;
    padding: 10px;
}

.comment-action-item {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 5px 0;
}

.action-icon {
    color: rgb(107, 107, 107) !important;
}

.comment-action-item:hover {
    background-color: rgb(177, 173, 173);
    cursor: pointer;
}

.comment-header{ 
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;

    .comment-author {
        font-weight: bold;
    }
    
    .comment-time {
        color: rgb(97, 97, 97);
        margin-left: 6px;
    }
}

.cindex-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: rgb(67, 94, 182) !important;
    background-color: #f9f9f9;
    margin-top: 6px;
    margin-left: 30px !important;
}
