// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body-field-container {
    height: auto;
    // min-height: 35px;
    // min-height: 100% !important;
    width: 80%;
    border-bottom: 1px solid rgb(123, 121, 121);;
    margin-left: 13px;
    margin-top: 5px;
    align-items: center;
    outline: none;
    // overflow-y: hidden;
    overflow: hidden;
}

.body-field {
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
    // overflow: hidden;
    width: 100%;
    font-size: 13px;
}

.hide-comment-buttons {
    display: none;
}

.comment-form-buttons {
    display: flex;
    justify-content: flex-end;
}

.body-field:focus .body-field-container {
    border-bottom: 2.25px solid black;
}

// .body-field:focus .comment-form-buttons {
//     display: block;
// }