// Entire Index Page
.index-page {
    display: flex;
}

// Left Sidebar - 20%
.side-bar {
    flex: 0.2;
}

.side-bar > hr{
    height: 1px;
    border: 0;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px
}

.sidebar-row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sidebar-row.selected {
    background-color: lightgrey;

    .sidebar-row-icon {
        color: red;
    }
}

.sidebar-row:hover {
    background-color: lightgrey;
    cursor: pointer;

    .sidebar-row-icon {
        color: red;
    }

    .sidebar-row-title {
        font-weight: bold;
    }
}

.sidebar-row-icon {
    color: #606060;
    font-size: large !important;
}

.sidebar-row-title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

// Right Index field - 80%
.videos-index {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.videos-index > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}