// Entire Main Page
.main-page {
    display: flex;
}

// Right Active field - 80%
.active-component {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.active-expand {
    flex: 0.945;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.videos-index > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.videos-list {
    display: flex;
    flex-wrap: wrap;
}

.index-preview {
    height: 280px;
    margin-bottom: 40px;
    margin-left: 49px;
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    
    .index-pic {
        height: 140px;
        width: 250px;
        object-fit: cover;
    }
}

.card-info {
    display: flex;
    margin-top: -10px;
    padding-right: 30px;
    
    .video-avatar {
        height: 30px !important;
        width: 30px !important;
        margin: 13px 5px;
        // margin-top: 5px;
    }
}

.card-text{
    margin-left: 15px;
    
    h4 {
        font-size: 14px;
    }
    
    p {
        margin-top: -10px;
        font-size: 14px;
        color: gray;
    }    
}