// // Entire Index Page = .index-page { display: flex;}
// Left Sidebar - 20%
.full-side-bar {
    flex: 0.2;
}

.closed-side-bar {
    flex: 0.1;
}

.hide-row{
    display: none;
}

.closed-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 4px 6px;

    .sidebar-row-title{
        font-size: 12px;
        font-weight: 500;
    }
}

.full-side-bar > hr{
    height: 1px;
    border: 0;
    background-color: lightgrey;
    margin-top: 10px;
    margin-bottom: 10px
}

.sidebar-row{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
}

.sidebar-row.selected,
.closed-row.selected {
    background-color: rgb(233, 233, 233);
    .sidebar-row-title{
        font-weight: bold;
        color: red
    }
    .sidebar-row-icon {
        color: red;
    }
}

.sidebar-row:hover,
.closed-row:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    
    .sidebar-row-icon {
        color: red;
    }
    
    // .sidebar-row-title {
    //     font-weight:;
    // }
}

.sidebar-row-icon {
    color: #606060;
    font-size: 24px !important;
}

.full-side-bar .sidebar-row-title{
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.row-link{
    text-decoration: none;
    color: black;
}