// Overall Nav Bar
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

    
// Left Nav Bar
.header-link{
    text-decoration: none;
    display: flex;
    padding-top: -120px;
    top: -20px;
}
    
.nav-left{
    display: flex;
    align-items: center;
}
    
.site-name{
    color: rgba(76, 98, 146, 0.89);
    font-family: "Lucida Console", Courier, monospace;
    padding-left: 2px;
    align-self: center;
}
    
.logo{
        color: whitesmoke;
        background-color: rgba(28, 104, 25, 0.904);
        width: 47px;
        text-align: center;
        margin-left: 19px;
        border: 1px solid whitesmoke;
        border-radius: 75px;
        align-content: center;
}


// Center Nav Bar
.search-bar {
    display: flex;
    align-items: center;
    width: 40%;
    height: 30px;
    border: 1px solid lightgrey;
}

.search-bar > input {
    flex: 1;
    border: none;
    margin-left: 5px;
}

.search-icon {
    width: 50px !important;
    background-color: #fafafa;
    color: #979797bb;
    border-left: 1px solid lightgray;
    cursor: pointer;
    height: 30px !important;
}

.search-icon:hover, .search-icon:active{
    background-color: #dadadabb;
    color: black;
}

// Right Nav Bar
 .nav-right li{
    list-style: none;
    display: inline-block;
 }

 .nav-right li button{
     text-decoration: none;
     border: 1.3px solid rgb(58, 108, 201);
     background-color: white;
     color: rgb(58, 108, 201);
     border-radius: 2px;
     margin-right: 9px;
     height: 32px;
     width: 75px;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: 547;
 }

 .nav-right li button:hover{
     cursor: pointer;
     background-color: rgba(240, 240, 240, 0.993);
 }


.circle-letter{
     display: flex;
     background-color:  rgb(58, 108, 201);
     justify-content: center;
     color: whitesmoke;
     border-radius: 50%;
     font-size: 20px;
     align-items: center;
     width: 35px;
     height: 35px;
     cursor: pointer;
     margin-right: 67px;
     font-weight: bolder;
 }

.sub-list{
     list-style: none;
     display: none;
}
    
.drop-down{   
    position: relative;
 }

.sub-list button{
    text-decoration: none;
     border: 1.3px solid rgb(58, 108, 201);
     background-color: white;
     color: rgb(58, 108, 201);
     border-radius: 2px;
     height: 38px;
     width: 102px;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: 547;
     cursor: pointer;
 }

 .drop-down:hover .sub-list{
     display: block;
     position: absolute;
     margin-left: -37px;
     margin-top: -5px;
}

.drop-down:hover .sub-list button:hover{
    background-color: rgba(238, 247, 255, 0.938);
}
