// Overall Nav Bar
.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    top: 0;
    z-index: 9;
    background-color: white;
}
.header{
    width: 100%;
    top: 0;
    margin-bottom: auto;
    background-color: white;
}
// Left Nav Bar
.header-link{
    text-decoration: none;
    display: flex;
}
    
.nav-left{
    display: flex;
    align-items: center;
    margin-left: 14px;
}

.sidebar-toggle {
    cursor: pointer;
    margin-bottom: 3px;
    border: 10px;
}
    
.site-name{
    color: rgba(76, 98, 146, 0.89);
    font-family: "Lucida Console", Courier, monospace;
    padding-left: 2px;
    align-self: center;
}
    
.logo{
    color: whitesmoke;
    background-color: rgba(28, 104, 25, 0.904);
    width: 38px !important;
    height: 26px !important;
    margin-left: 30px;
    border: 1px solid whitesmoke;
    border-radius: 12px;
    margin-top: 15px;
}


// Center Nav Bar
.search-bar {
    display: flex;
    align-items: center;
    width: 40%;
    height: 30px;
    border: 1px solid lightgrey;
}

.search-bar > input {
    flex: 1;
    border: none;
    margin-left: 5px;
}

.search-icon {
    width: 50px !important;
    height: 30px !important;
    border-left: 1px solid lightgray;
    background-color: #fafafa;
    color: #979797bb;
    cursor: pointer;
}

.search-icon:hover, .search-icon:active{
    background-color: #dadadabb;
    color: black;
}

// Right Nav Bar
 .nav-right li{
    list-style: none;
    display: inline-block;
 }

.session-button{
    display: flex;
     text-decoration: none;
     border: 1.3px solid rgb(58, 108, 201);
     background-color: white;
     color: rgb(58, 108, 201);
     border-radius: 2px;
     margin: 5px;
     margin-right: 7px;
     margin-left: 4px;
     height: 37px;
     width: 100px;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: 547;
     cursor: pointer;
     align-items: center;
     justify-content: space-evenly;
}

.session-link{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.session-button:hover{
    background-color: rgba(240, 240, 240, 0.993);
}

.right-nav {
    display: flex;
    align-items: center;
}

.video-icon {
    font-size: 45px !important;
    margin-right: 27px;
    color: lightgray !important;
    cursor: pointer;
}

.video-icon:hover {
    color: rgba(146, 151, 145, 0.938) !important;
}

.circle-letter{
     display: flex;
     background-color:  rgb(58, 108, 201);
     justify-content: center;
     color: whitesmoke;
     border-radius: 50%;
     font-size: 20px;
     align-items: center;
     width: 35px;
     height: 35px;
     cursor: pointer;
     margin-right: 67px;
     font-weight: bolder;
 }
 
 .sub-list{
      list-style: none;
      display: none;
 }
     
 .drop-down{   
     position: relative;
  }

.sublist-header {
    display: flex;
    justify-content: flex-start;
    margin-left: 9px;
    margin-top: 13px;

    .currentuser-info {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        font-weight: bold;
        margin-bottom: 9px;
    }
}

.drop-header-icon {
    font-size: 44px !important;
    margin-left: 8px;
    color: rgb(91, 128, 223);
}

.detail-item {
    margin-top: 6px;
    margin-bottom: 2px;
}

.signout-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgba(141, 141, 140, 0.938) !important;
    margin-top: 5px;
    margin-bottom: 3px;
    height: 38px;
    cursor: pointer;
}

.signout-button:hover {
    background-color: rgb(185, 185, 185);
    color: whitesmoke !important;
}

.signout-icon {
    margin-right: 26px;
    margin-left: 20px;
}

.drop-down:hover .sub-list{
     display: block;
     position: absolute;
     width: 300px;
     margin-left: -302px;
     margin-top: -27px;
     background-color: rgba(216, 226, 214, 0.938);
}



