.media-page {
    display: flex;
    flex-direction: column;
}

.drop-video, .drop-image {
    font-size: 100px !important;
    padding: 63px;
    margin-top: -15px;
    color: lightgray !important;
}

.drop-video:hover, .drop-image:hover {
    color: red !important;
}

.video-upload, .pic-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.dropzone-target {
    width: 220px;
    height: 220px;
    margin: 25px;
    margin-bottom: 37px;
    outline: none;
    border: none;
    cursor: pointer;
}

.dropzone-message {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: rgba($color: #4fa34f, $alpha: 1.0);
    margin-top: -19px
}

.step-buttons {
    display: flex;
    justify-content: space-evenly;
}

.next-icon{
    color: rgba(231, 231, 231, 0.938) !important;
    margin-left: -3px;
    margin-right: -8px;
}

.prev-icon{
    color: rgba(231, 231, 231, 0.938) !important;
    margin-left: -8px;
    margin-right: -3px;
}

.next-step:hover .next-icon,
.prev-step:hover .prev-icon {
    color: rgb(57, 103, 189) !important;
}

.sign-link {
    text-decoration: none;
}

.next-step, .prev-step, .video-button, .signup-button {
    display: flex;
     text-decoration: none;
     border: 1.3px solid rgb(58, 108, 201);
     background-color: white;
     color: rgb(58, 108, 201);
     border-radius: 2px;
     margin: 5px;
     margin-left: 27px;
     height: 37px;
     width: 100px;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-weight: 547;
     cursor: pointer;
     align-items: center;
     justify-content: space-evenly;
}

.next-step:hover, .prev-step:hover, .video-button:hover, .signup-button:hover {
    background-color: rgba(240, 240, 240, 0.993);
    color: rgb(66, 117, 211);
}

.details-step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.details-step .input-container {
    position: relative;
    margin-bottom: 25px;
    border-radius: 6px;
    margin-top: 25px;

    input {
        height: 28px;
        width: 200px;
    }
}

.details-step .description {
    position: relative;
    margin-bottom: 30px;
    border-radius: 6px;
    margin-top: 25px;
}

.input-labels{
    position: absolute;
    top: 2px;
    left: 8px;
    padding: 4px 0;
    pointer-events: none;
    transition: .5s;
    font-size: 18px;
    color: rgba(163, 163, 163, 0.815);
    font-family: "Lucida Console", Courier, monospace;
}

  .details-step .input-container input:focus,
  .details-step .input-container input:valid,
  .details-step .description textarea:focus,
  .details-step .description textarea:valid{
     top: -20px;
     left: 0;
     padding-left: 3px;
     border: 2.3px solid rgb(91, 128, 223);
     border-radius: 6px;
     background-color: whitesmoke;
     font-family: "Lucida Console", Courier, monospace;
     font-size: 15.5px;
 }

 .details-step .input-container input:focus ~label,
  .details-step .input-container input:valid ~label,
   .details-step .description textarea:focus ~label,
  .details-step .description textarea:valid ~label{
     top: -12px;
     left: 2px;
     color: rgb(5, 20, 175);
     background: rgba(255,255,255,5);
     font-size: 12px;
     padding-bottom: 0;
     padding-left: 1px;
 }

.confirm-style {
    display: flex;
    justify-content: space-evenly;
}

.step-map {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 27px;
    width: 100%;

    .not-reached { 
        width: 170px;
        height: 1px;
        margin-top: 20px;
        border-bottom: 1px solid lightblue;
        margin-left: 12px;
        margin-right: 12px;
    }

    div {
        display: flex;
        height: 45px;
        width:45px;
        border-radius: 50%;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #8a8b94, $alpha: 1.0);
        color: whitesmoke;
        font-weight: bolder;
    }

    .reached {
        width: 170px;
        border: 1px solid red;
        height: 1px;
        margin-top: 20px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

.step-map .map-active-step{
  background-color: rgba($color: #313899, $alpha: 1.0);
  color: whitesmoke;
  font-weight: bolder;  
}

.step-map .map-past-step {
    background-color: rgba($color: #417240, $alpha: 1.0);
  color: whitesmoke;
  font-weight: bolder; 
}

