// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-show {
    padding-left: 37px;
    background-color: #f9f9f9;
    padding-top: 20px;
}

.video {
    display: flex;
    margin-left: -8px;
    video {
        height: 479px;
        width: 754px;
        object-fit: cover;
        padding:10px;
    }
}

.body-feild {
    display: flex;
    justify-content: center;
}

.video-details {
    margin: -15px 0;
}

.video-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: -10px;
    align-items: center;
    width: 800px;
}

.left-stats {
    color: rgb(97, 97, 97);
    font-size: 15px;
    margin-bottom: 13px;
}

.left-stats span { padding-right: 5px;}

.right-stats{
    display: flex;
    justify-content: space-evenly;
    flex: 0.7;
    margin-bottom: 13px
}

.share-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(97, 97, 97) !important;
    border: none;
    background-color: #f9f9f9;
    width: 94px;
    cursor: pointer;
}

.like-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 90px;
    
    span {
        font-size: 15px;
        margin-left: 3px;
    }
}

.like-container {
    display: flex;
    justify-content: space-between;
    width: 110px;
    color: rgb(97, 97, 97) !important;
    cursor: pointer;
}

.share-icon {
     cursor: pointer;
}

.uploader-details {
    border-bottom: 1px solid rgb(187, 180, 180);
    border-top: 1px solid rgb(187, 180, 180);
    width: 760px;
}

.top-info {
    display: flex;
    align-items: center;
    height: 79px;

    .drop-header-icon { margin-right: 20px; margin-top: -15px;}

    .name-n-number {
        margin-top: -17px;
    }
}

.description {
    margin-top: -12px;
    margin-left: 75px;
    margin-bottom: 9px;
}