// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-show {
    margin-left: 19px;
}

.video {
    display: flex;
    // justify-content: center;
    height: 500px;
}

.body-feild {
    display: flex;
    justify-content: center;
}

.video-stats {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: 15px;
    align-items: center;
}

.left-stats {
    color: rgb(97, 97, 97);
    font-size: 15px;
}

.right-stats{
    display: flex;
    justify-content: space-evenly;
    flex: 0.75
}

.share-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(97, 97, 97) !important;
    border: none;
    background-color: white;
    width: 94px;
    cursor: pointer;
}

.like-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 90px;
    
    span {
        font-size: 15px;
        margin-left: 3px;
    }
}

.like-container {
    display: flex;
    justify-content: space-between;
    width: 110px;
    color: rgb(97, 97, 97) !important;
    cursor: pointer;
}

.share-icon {
     cursor: pointer;
}